body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    padding: 20px;
}

h1, h2 {
    color: #ffffff;
    margin: 0;
}

h1 {
    grid-column: 1 / -1; /* Span across all columns */
    text-align: center;
    padding: 20px 0;
}

a {
    color: #4e9ff7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: grid;
    grid-template-columns: 1fr; /*  one column */
    gap: 20px;
}